@import "tailwindcss";

@theme {
  --color-background: #0d1117;
  --color-card-background: #161b22;
  --color-section-background: #0d1117;
  --color-border-color: #1d2433;
  --color-main-text: #f9fafb;
  --color-muted-text: #9ca3af;
  --color-hint-text: #6b7280;
  --color-ok-status: #1d9e75;
  --color-warning-status: #ba7517;
  --color-error-status: #e24b4a;
  --color-cpu: #d85a30;
  --color-ram: #378add;
  --color-disk: #bc37dd;
}
